
/* common css start */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);

}
#nav-home{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px;
}
#banner-h2{
    font-family: "Dancing Script", cursive;
    font-weight: 400;
}
.header-section{
    background-image: linear-gradient(180.00deg, rgba(64, 69, 65, 0.5),rgba(90, 88, 88, 0) 100%);
}
/* common css end */

/* nav manu css */
.manu-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 57px;
}
.manu-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manu-title{
    color:rgb(230, 83, 60);
    font-style: italic;
    font-size: 2.2rem;
}
.manu-link{
    display: flex;
    gap: 47px;
}
.manu-link li{
    list-style-type: none;
}
.manu-link a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.nav-bar{
    color: rgb(255, 255, 255);
    display: none;
}
/* nav manu css */
/* banner-container css */
.banner-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 32px;
   
}
.banner-area{
    display: flex;
    gap: 167px;
    align-items: center;
    justify-content: center;
}
.banner-img{
    width: 100%;
    height: 100%;
    position: relative;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-text{
    max-width:520px;
}
.banner-text h2{
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    margin-bottom: 28px;
}
.banner-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 28px;
}
.banner-btn-join{
    color: rgb(255, 255, 255);
   font-size: 1.2rem;
    font-weight: 600;
    border-radius: 42px;
   background: rgb(230, 83, 60);
   padding: 16px 40px;
   border: none;
   margin-right: 14px;
}
.banner-btn-down{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
     font-weight: 600;
     border-radius: 42px;
     padding: 16px 40px;
     border: 1px solid rgb(255, 255, 255);
     background: rgb(0, 0, 0);
}
.banner-img-position{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: rgba(48, 48, 48, 0.54);
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
padding: 20px 23px;
width: 50%;
position: absolute;
bottom: 23%;
left: -27%;
}
.banner-img-position h5{
 color: rgb(250, 250, 249);
font-size: 1.5rem;
font-weight: 900;
margin-bottom: 8px;

}
.banner-img-position p{
color: rgba(239, 237, 232, 0.65);
font-size: 16px;
font-weight: 400;
}
.banner-img-position span{
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
font-size:20px;
}
#position-icon{
    margin-top: 10px;
}
.banner-img-position2{
    color: white;
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    padding: 18px 23px;
    width: 45%;
    position: absolute;
    bottom: 64%;
    right: -11%;
}
.banner-img-position2 h4{
    color: rgb(255, 255, 255);
font-size: 2.5rem;
font-weight: 900;
margin-bottom: 5px;
}
.banner-img-position2 p{
    color: rgba(255, 255, 255, 0.65);
font-size: 0.8rem;
font-weight: 400;

}
/* banner-container css */
/* habits-container css */
.habits-container{
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}
.habits-text{
    max-width: 670px;
    margin: 0 auto;
}
.habits-text h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3rem;
font-weight: 900;
text-align: center;
margin-bottom: 14px;
}
.habits-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.85rem;
font-weight: 400;
text-align: center;
}
.habits-img{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 40px;
    
}
.habits-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:58px;
}
.habits-card img{
    border-radius: 50%;
    margin-bottom: 30px;
}
.habits-card h5{
    color: rgb(255, 255, 255);
font-size: 1.1rem;
font-weight: 600;
margin-bottom: 6px;
}
.habits-card p{
color: rgba(255, 255, 255, 0.5);
font-size: 0.8rem;
font-weight: 400;
}
/* habits-container css */

/* run-container css */
.run-container{
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 32px 29px 54px ;
    margin-bottom: 100px;
}
.run-area{
    display: flex;
    gap: 165px;
    justify-content: center;
    align-items: center;
}
.run-text-container h2{
color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
text-align: left;
margin-bottom: 14px;
}
.run-text-container p{
color: rgba(255, 255, 255, 0.5);
font-size: 0.87rem;
font-weight: 400;
text-align: left;
margin-bottom: 34px;
line-height: 24px;
}
.run-text-container button{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.125rem;
font-weight: 600;
text-align: left;
border-radius: 42px;
background: rgb(230, 83, 60);
padding: 16px 40px;
}
 .run-img-container{
   width: 100%;
   height: 100%;
  
}
.run-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
} 
/* run-container css */







/* Small device Responsive */
@media screen and (max-width:576px) {
    /* nav manu  */
    .manu-link{
        display: none;
    }
    .nav-bar{
        display: block;
    font-size: 27px;
    }
    .manu-container{
        width: 85%;
    }
    /* banner code */
     .banner-area{
        flex-direction: column;
        gap: 100px;
     }
     .banner-img-position{
        bottom: 39%;
        left: -1%;
        padding: 10px 12px;
     }
     .banner-img-position2 {
        padding: 18px 7px;
        bottom: 74%;
        right: -2%;
     }
     .banner-container{
       width:85%;
     }
     .banner-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-btn-join{
        padding: 9px 14px
    }
    .banner-btn-down{
        padding: 9px 14px;
    }
    .banner-text h2{
        font-size: 3rem;
    }
    /*
     .banner-text{
         max-width: 520px;
        width: 100%;
    } 
        */
    /* habits css */
    .habits-container{
        margin-top: 0;
        width: 100%;
    }
    .habits-text{
        max-width: 100%;
        padding: 0 15px;
    }
    .habits-text h2{
        font-size: 2rem;
    }
    .habits-img{
        grid-template-columns: repeat(1,1fr);
        padding: 0px 30px;
    }
     /* .habits-container{
        width: 85%;
    }*/
     
    /* .run-container */
    .run-area{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
    .run-container{
        width: 85%;
      padding: 0px;
      margin-top: 70px;
    }
    .run-button button{
        width: 100%;
        text-align: center;
    }

}

/* Run Section git push */